default: &default
  op_url: "https://testapp.optitable.com/en/admin/restaurant/check/interface/"
  op_api_key: 691abcdb44eefbaf376709872ad798f6
  mq_url: "amqp://bIndoMiddleWare:Bin$Mid!lePoIsAGh@35.194.205.200:5672/"
  # mq_url: "amqp://bIndoMiddleWare:Bin$Mid!lePoIsAGh@127.0.0.1:5677/"
  retry: 3
  stores:
    "1":
      name: "test1"
      store_id: 7264
      op_api_key: 691abcdb44eefbaf376709872ad798f6
    # "2":
    #   name: "test2"
    #   store_id: 5807
    #   op_api_key: 691abcdb44eefbaf376709872ad798f6
#
# production specific
#
production:
  <<: *default

#
# development specific
#
staging:
  <<: *default
